<mat-accordion multi="true">
  <mat-expansion-panel expanded="true" color="primary">
    <mat-expansion-panel-header>
      <mat-panel-title>Today's</mat-panel-title>
    </mat-expansion-panel-header>
    <app-todo-item></app-todo-item>
    <app-todo-item></app-todo-item>
    <app-todo-item></app-todo-item>
  </mat-expansion-panel>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Tomorrow's</mat-panel-title>
    </mat-expansion-panel-header>
    <app-todo-item></app-todo-item>
  </mat-expansion-panel>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Remaining</mat-panel-title>
    </mat-expansion-panel-header>
    <app-todo-item></app-todo-item>
  </mat-expansion-panel>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Completed</mat-panel-title>
    </mat-expansion-panel-header>
    <app-todo-item></app-todo-item>
  </mat-expansion-panel>
</mat-accordion>
