@import "../../variables";

:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 100%;
}

h1 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 3rem;
}

form {
  display: contents;
}

.hidden {
  display: none;
}

#button-panel {
  display: flex;
  justify-content: space-between;
  .spacer {
    flex: 1 1 auto;
  }
  button[mat-raised-button] {
    min-width: 6rem;
    margin: 0 0.5rem;
  }
}
