@import "../../variables";

:host {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    "title title"
    "form form"
    "link link";
  height: 100%;
}
h1 {
  margin: 0;
  grid-area: title;
  align-self: center;
  text-align: center;
  font: 300 3.5rem/4.5rem Roboto;
}

a {
  grid-area: link;
  justify-self: center;
  align-self: center;
  font: 300 2rem/3rem Roboto;
}

form {
  grid-area: form;
  border-radius: 1rem;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  font: 300 1.5rem/2rem Roboto;
  min-width: 90%;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #fff !important;
}

mat-label {
  color: #fff;
}

button,
mat-checkbox {
  text-align: center;
  font: 300 1.5rem/2.5rem Roboto;
  min-width: 60%;
}

::ng-deep .mat-checkbox-frame {
  border-color: #fff;
}

mat-spinner {
  margin: 0.25rem auto;
}

.error {
  background-color: red;
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  :host {
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas:
      "title link"
      "form form";
    height: 70%;
    width: 80%;
    margin: 15% auto;
  }
  h1 {
    text-align: start;
  }

  form {
    height: 80%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
