@import "../../variables";

:host {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  .hidden {
    visibility: hidden;
  }
  &:hover {
    .hidden {
      visibility: visible;
    }
  }
}

.complete {
  text-decoration: line-through;
  font-weight: 200;
}

h2 {
  flex: 1 1 auto;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h3 {
  margin: 0;
}

.badge {
  background-color: $font;
  padding: 0.25rem;
}
