@import "../../variables";

:host {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas:
    "title link"
    "form form";
  position: absolute;
  height: 70%;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}
h1 {
  margin: 0;
  grid-area: title;
  align-self: center;
  font: 300 3.5rem/4.5rem Roboto;
}

a {
  grid-area: link;
  justify-self: center;
  align-self: center;
  font: 300 2rem/3rem Roboto;
}

form {
  grid-area: form;
  border-radius: 1rem;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  font: 300 1.5rem/2rem Roboto;
  min-width: 90%;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #fff !important;
}

mat-label {
  color: #fff;
}

button,
h4 {
  text-align: center;
  min-width: 60%;
}

button {
  font: 300 1.5rem/2.5rem Roboto;
}

h4 {
  font: 300 1rem/2rem Roboto;
}

::ng-deep .mat-checkbox-frame {
  border-color: #fff;
}
